body{
    margin-top: 60px;
}
.container{
    display: flex;
    justify-content: center;
}
.tables{
    margin-left: 40px;
}
.login-table{
    padding-left: 20px;
    width: 270px;
    height: 380px;
}
.login-table table tr td{
    text-align: center;
}
.login-table input{
   width: 230px;
   height: 30px;
}
#login{
    width: 240px;
    height: 30px;
    border-radius: 7px;
    color:white;
    background-color: rgb(0,149,246);
}
.login-table table tr td a{
    text-decoration: none; 
    color: rgb(10, 10, 120);
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
}
